body{
    margin: 0;
    font-family: 'Open Sans Condensed',sans-serif;
    -webkit-font-smoothing:antialiased;;
    -moz-osx-font-smoothing:grayscale;
    background: rgb(0,36,33);
    background: linear-gradient(90deg, rgba(0,36,33,0.1517857142857143) 0%, rgba(9,121,107,0) 35%, rgba(0,185,255,0.4290966386554622) 100%);
}
a{
    text-decoration: none;
    color:rgba(55, 0, 255, 0.603) ;
}
*{
   
}