.cart-icon-container{
    display: flex;
    width: 45px;
    height: 45px;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .shopping-icon{
        width: 30px;
        height: 30px;
    }
    .item-count{
        position: absolute;
        bottom: 12px;
        font-size: 10px;
        font-weight: bold;
    }
}
